<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/tela-gerente.css">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <script src="https://kit.fontawesome.com/108281d3fc.js" crossorigin="anonymous"></script>
  <title>Gerenciar</title>
</head>
<body>

<!-- Cabeçalho -->
<header>
  <nav>
    <a class="logo" href="/gerente/index">KLING</a>
    <ul class="nav-list">
      <li><a href="/gerente/index">Chamados</a></li>
      <li><a href="/gerente/usuarios">Cadastros</a></li>
      <li><a href="/gerente/salas">Salas</a></li>
      <li><button class="quit">Sair</button></li>
    </ul>
  </nav>
</header>
  
<main>
  <h1>Bem vindo, Gerenciador!</h1>
  <h2>Chamados Abertos</h2>

  <section>
    <!-- Tela de chamados -->
    <!-- Aqui será apresentado todos os chamados abertos -->
    <div class="screen-chamados">
      <h2>Chamados Abertos</h2>
      
      <% results.forEach(function(result) { %>
        <div class="chamado">
          <div class="text-chamado">
            <span class="titulo"><%= result.idAparelho.toUpperCase() %>: CHAMADA NO BLOCO <%= result.idEndereco %>, SALA <%= result.sala %></span>
          </div>
          <a class="detalhar" href="#">Leia mais...</a>
          <span class="detalhamento">
            <p>Descrição: <%= result.descricao %></p>
          </span>
        </div>
      <% }); %>

    </div>
    
    <div class="screen-chamados">
      <!-- Aqui será apresentado todos os chamados concluidos -->
      <h2>Chamados Concluidos</h2>
      <% concluidos.forEach(function(result) { %>
        <div class="chamado">
          <div class="text-chamado">
            <span><%= result.idAparelho.toUpperCase() %>: CHAMADA NO BLOCO <%= result.idEndereco %>, SALA <%= result.sala %></span>
          </div>
          <a class="detalhar-concluido" href="#">Leia mais...</a>
  
          <div class="detalhamento-concluido">
            <div>
              <p>Docente solicitante: <%= result.nomeProfessor %></p>
            </div>
            <div>
              <p>Técnico responsável: <%= result.nomeTecnico %></p>
            </div>
            <div>
              <p>Data Início: <%= result.dataCriacao %></p>
            </div>
            <div>
              <p>Data Conclusão: <%= result.dataFechamento %> </p>
            </div>
            <div>
              <p>Tempo gasto: <%= result.tempoDeRealizacao %></p>
            </div>
            <div>
              <p>detalhamento: <%= result.descricao %></p>
            </div>
  
          </div>
        </div>
      <% }); %>
    </div>


  </section>  
    <!--<button href="/" class='relatorio'>Relatórios</button> -->
</main>

<!-- Rodapé -->
<footer>
  <h3>FALE CONOSCO</h3>
  <ul>
    <li>
      Email coorporativo
    </li>
    <li>
      Numero
    </li>
  </ul>
</footer>

<script>
//       Detalhar
// Obter elementos DOM
const chamadoPendente = document.getElementsByClassName('detalhar-pendente')
const detalhamentoPendente = document.getElementsByClassName('detalhamento-pendente')

const chamadoConcluido = document.getElementsByClassName('detalhar-concluido')
const detalhamentoConcluido = document.getElementsByClassName('detalhamento-concluido')

for (let i = 0; i < chamadoPendente.length; i++) {
  chamadoPendente[i].addEventListener('click', function(event) {
    event.preventDefault()

    const text = this.innerHTML

    if (text === 'Leia mais...') {
      this.innerHTML = 'Leia menos...'
      this.parentNode.style.height = '120px'
      detalhamentoPendente[i].style.display = 'inherit'
      detalhamentoPendente[i].style.flexDirection = 'column'
      detalhamentoPendente[i].style.position = 'absolute'
      detalhamentoPendente[i].style.left = '12%'
      detalhamentoPendente[i].style.bottom = '20%'
      
    } else {
      this.innerHTML = 'Leia mais...'
      this.parentNode.style.height = '35px'
      detalhamentoPendente[i].style.display = 'none'
    }
  })
}

for (let i = 0; i < chamadoConcluido.length; i++) {
    chamadoConcluido[i].addEventListener('click', function(event) {
      event.preventDefault()

      const text = this.innerHTML

      if (text === 'Leia mais...') {
        this.innerHTML = 'Leia menos...'
        this.parentNode.style.height = '250px'
        detalhamentoConcluido[i].style.display = 'inherit'
        detalhamentoConcluido[i].style.flexDirection = 'column'
        detalhamentoConcluido[i].style.position = 'absolute'
        detalhamentoConcluido[i].style.left = '13%'
        detalhamentoConcluido[i].style.bottom = '15%'

      } else {
        this.innerHTML = 'Leia mais...'
        this.parentNode.style.height = '35px'
        detalhamentoConcluido[i].style.display = 'none'
      }
    })
  }
  </script>
</body>
</html>