<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/tela-docente.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <script src="https://kit.fontawesome.com/108281d3fc.js" crossorigin="anonymous"></script>
  <title>Registrar chamado</title>
</head>

<body>
  <!-- Cabeçalho -->
  <header>
    <nav>
      <a class="logo" href="/index-docente">KLING</a>
      <ul class="nav-list">
        <li><a href="/professor/novo-chamado">Novo Chamado</a></li>
        <li><a href="/professor/meus-chamados">Meus Chamados</a></li>
        <li><button class="material-symbols-outlined" id="btn-info-modal">account_circle</button></li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>Bem vindo, Professor!</h1>
    <h2>Solicite um chamado</h2>
    <div class="screenChamados">

      <!-- Formulário para registrar o chamado-->
      <form action="/professor/novo-chamado" method="post">

        <div class="div-form">
          <label for="setor">Setor *</label>
          <select name="setor" id="setor">
            <option value="">-- Selecionar --</option>
            <% setores.forEach(function(setor) { %>
              <option value="<%= setor.setor %>">
                <%= setor.setor %>
              </option>
              <% }); %>
          </select>

          <div style="display: inherit; gap: 45px;">
            <div style="display: inherit; flex-direction: column">
              <label for="bloco">Bloco *</label>
              <select name="bloco" id="bloco" style="width: 250px;">
                <option value="">-- Selecionar --</option>
                <% blocos.forEach(function(bloco) { %>
                  <option value="<%= bloco.bloco %>">
                    <%= bloco.bloco %>
                  </option>
                  <% }); %>
              </select>
            </div>

            <div style="display: inherit; flex-direction: column">
              <!-- Input para Sala -->
              <label for="sala">Sala *</label>
              <input type="number" name="sala" id="sala">
            </div>
          </div>

          <div style="display: inherit; gap: 45px; margin-top: 7.5px;">
            <div style="display: inherit; flex-direction: column">
              <label for="aparelho">Aparelho *</label>
              <select name="aparelho" id="aparelho" style="width: 250px;">
                <option value="">-- Selecionar --</option>
                <% aparelhos.forEach(function(aparelho) { %>
                  <option value="<%= aparelho.aparelho %>">
                    <%= aparelho.aparelho %>
                  </option>
              </select>
              <% }); %>
            </div>

            <div style="display: inherit; flex-direction: column">
              <!-- Input para Quantidade -->
              <label for="numero">Número *</label>
              <input type="number" name="numero" id="numero"/>
            </div>
          </div>

          <textarea name="descricao" id="descricao" cols="100" rows="10" placeholder="Descreva seu problema"></textarea>

          <div class="error">
            <p>Todos os campos em * são obrigatórios</p>
          </div>

          <input type="submit" value="Enviar">
        </div>

      </form>
    </div>
  </main>

  <!-- Rodapé-->
  <footer>
    <h3>FALE CONOSCO</h3>
    <ul>
      <li>
        Email coorporativo
      </li>
      <li>
        Numero
      </li>
    </ul>
  </footer>

<!-- Modal Info -->
<div id="user-modal" class="info-modal">
  <div class="info-modal-content">
    <span class="close-info">&times;</span>
    <i class="fa-regular fa-circle-user fa-5x"></i>
    <h2>Informações do Usuário</h2>
    <p>Nome: Rafael Abreu</p>
    <p>Email: kling@example.com</p>
    <p>Telefone: 71</p>
  </div>
</div>

<script>
// -------------- MODAL USER INFO --------------
// Obter elementos DOM
const infoModal = document.getElementById('user-modal')
const btnInfoModal = document.getElementById('btn-info-modal')
const closeInfoModalBtn = document.getElementsByClassName('close-info')[0]
      
// Abrir o modal quando o botão for clicado
btnInfoModal.addEventListener('click', function() {
  infoModal.style.display = 'block'
})
      
// Fechar o modal quando o botão de fechar for clicado
closeInfoModalBtn.addEventListener('click', function() {
  infoModal.style.display = 'none'
})
      
// Fechar o modal quando o usuário clicar fora da área do modal
window.addEventListener('click', function(event) {
  if (event.target === infoModal) {
    infoModal.style.display = 'none'
  }
})
</script>

</body>

</html>