<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/tela-tecnico.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <script src="https://kit.fontawesome.com/108281d3fc.js" crossorigin="anonymous"></script>
  <title>Gerenciar</title>
</head>
<body>

<header>
  <nav>
    <a class="logo" href="/tecnico/chamados">KLING</a>
    <ul class="nav-list">
      <li><a href="/tecnico/chamados">Chamados abertos</a></li>
      <li><button class="material-symbols-outlined" id="btn-info-modal">account_circle</button></li>
    </ul>
  </nav>
</header>

<main>
  <h1>Bem vindo, técnico!</h1>
  <h2>Lista de chamados aguardando atendimento:</h2>

  <section class="screen-chamados">
    <!-- Aqui será apresentado todos os chamados abertos -->
    <h2>Chamados Abertos</h2>
    <% results.forEach(result => { %>
      <form action="/tecnico/chamados" method="post">
      <div class="chamado">
        <div class="info-chamado">
          <input type="hidden" name="id" value="<%= result.idChamado %>">
          <span class="titulo"><%= result.aparelho.toUpperCase() %>: CHAMADA NO BLOCO <%= result.bloco %>, SALA <%= result.sala %></span>
          <button class="finalizar-chamado" type="submit">Finalizar Chamado</button>
        </div>
        <span class="detalhes">
          <p>detalhamento: <%= result.descricao %></p>
        </span>
      </div>
    </form>
    <% }); %>
  </section>
</main>

<!-- Rodapé -->
<footer>
  <h3>FALE CONOSCO</h3>
  <ul>
    <li>
      Email coorporativo
    </li>
    <li>
      Numero
    </li>
  </ul>
</footer>

<!-- Modal Info -->
<div id="user-modal" class="info-modal">
  <div class="info-modal-content">
    <span class="close-info">&times;</span>
    <i class="fa-regular fa-circle-user fa-5x"></i>
    <h2>Informações do Usuário</h2>
    <p>Nome: Rafael Abreu</p>
    <p>Email: kling@example.com</p>
    <p>Telefone: 71</p>
    <button class="quit">Sair</button>
  </div>
</div>

<script>
// -------------- MODAL USER INFO --------------
// Obter elementos DOM
const infoModal = document.getElementById('user-modal')
const btnInfoModal = document.getElementById('btn-info-modal')
const closeInfoModalBtn = document.getElementsByClassName('close-info')[0]
      
// Abrir o modal quando o botão for clicado
btnInfoModal.addEventListener('click', function() {
  infoModal.style.display = 'block'
})
      
// Fechar o modal quando o botão de fechar for clicado
closeInfoModalBtn.addEventListener('click', function() {
  infoModal.style.display = 'none'
})
      
// Fechar o modal quando o usuário clicar fora da área do modal
window.addEventListener('click', function(event) {
  if (event.target === infoModal) {
    infoModal.style.display = 'none'
  }
})
</script>
</body>
</html>