<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/tela-tecnico.css">
  <title>Gerenciar</title>
</head>
<body>

<header>
  <nav>
    <a class="logo" href="/tecnico/chamados">KLING</a>
    <ul class="nav-list">
      <li><a href="/tecnico/chamados">Chamados abertos</a></li>
      <li><a href="/login" <button class="quit">Sair</button></a></li>
    </ul>
  </nav>
</header>

<main>
  <h1>Bem vindo, técnico!</h1>
  <h2>Lista de chamados aguardando atendimento:</h2>

  <section class="screen-chamados">
    <!-- Aqui será apresentado todos os chamados abertos -->
    <h2>Chamados Abertos</h2>
    <% results.forEach(result => { %>
      <form action="/tecnico/chamados" method="post">
      <div class="chamado">
        <div class="info-chamado">
          <input type="hidden" name="id" value="<%= result.idChamado %>">
          <span class="titulo"><%= result.aparelho.toUpperCase() %>: CHAMADA NO BLOCO <%= result.bloco %>, SALA <%= result.sala %></span>
          <button class="finalizar-chamado" type="submit">Finalizar Chamado</button>
        </div>
        <span class="detalhes">
          <p>detalhamento: <%= result.descricao %></p>
        </span>
      </div>
    </form>
    <% }); %>
  </section>
</main>

<!-- Rodapé -->
<footer>
  <h3>FALE CONOSCO</h3>
  <ul>
    <li>
      Email coorporativo
    </li>
    <li>
      Numero
    </li>
  </ul>
</footer>
</body>
</html>