<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/crud.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://kit.fontawesome.com/108281d3fc.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <title>Relação de Usuários</title>
</head>

<body>

  <!-- Cabeçalho -->
  <header>
    <nav>
      <a class="logo" href="/gerente/index">KLING</a>
      <ul class="nav-list">
        <li><a href="/gerente/index">Chamados</a></li>
        <li><a href="/gerente/usuarios">Cadastros</a></li>
        <li><a href="/gerente/salas">Salas</a></li>
        <li><button class="material-symbols-outlined" id="btn-info-modal">account_circle</button></li>
      </ul>
    </nav>
  </header>

  <section>
  <h1>Usuários</h1>
  <!-- CRUD -->

  <form action="/gerente/usuarios-cadastrar" method="post" class="CRUD">
    <div class="div-form" style="background-color: #f2f2f2;">
      <label for="m-funcao">Função</label>
      <select name="funcao" id="">
        <option value="PROFESSOR">PROFESSOR</option>
        <option value="TECNICO">TÉCNICO</option>
        <option value="GERENTE">GERENTE</option>
      </select>

      <label for="m-nome">Nome</label>
      <input name="nome" type="text" required />

      <label for="m-email">Email</label>
      <input name="email" type="text" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder='kling@exemplo.com'>

      <label for="m-salario">Telefone</label>
      <input name="telefone" type="tel" required placeholder="(xx) xxxxx-xxxx">
      <button type="submit" id="btnSalvar" class="addCRUD">Cadastrar novo usuário</button>
    </div>
  </form>

  <div class="CRUD">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Função</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Editar</th>
          <th>Excluir</th>
        </tr>
      </thead>
      <tbody>
        <% usuarios.forEach(function(usuario) { %>
        <tr>
          <td><%= usuario.idUsuario %></td>
          <td><%= usuario.funcao %></td>
          <td><%= usuario.nome %></td>
          <td><%= usuario.email %></td>
          <td><%= usuario.telefone %></td>
          <td>
            <button type="button" class="editCRUD" id="btn-edit-modal"
            data-id="<%= usuario.idUsuario %>"
            data-nome="<%= usuario.nome %>">Editar</button>
          </td>
          <td>
            <button type="button" class="deleteCRUD" id="btn-delete-modal"
                data-id="<%= usuario.idUsuario %>"
                data-nome="<%= usuario.nome %>">
              Deletar
            </button>

          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</section>

<!-- Modal Info -->
<div id="user-modal" class="info-modal">
  <div class="info-modal-content">
    <span class="close-info">&times;</span>
    <i class="fa-regular fa-circle-user fa-5x"></i>
    <h2>Informações do Usuário</h2>
    <p>Nome: Rafael Abreu</p>
    <p>Email: kling@example.com</p>
    <p>Telefone: 71</p>
    <button class="quit">Sair</button>
  </div>
</div>

<!-- Modal Delete -->
<div id="delete-user-modal" class="delete-modal">
  <div class="delete-modal-content">
    <header>
      <h2>Excluir usuário</h2>
      <span class="close-delete">&times;</span>
    </header>
    <form action="/gerente/deletar-usuario" method="post">
      <input type="hidden" name="deleteId" id="delete-id">
      <input type="text" name="delete-name" id="delete-name" disabled>
      <button type="submit" class="deleteCRUD">Deletar</button>
    </form>
  </div>
</div>

  <!-- Modal Edit -->
  <div id="edit-user-modal" class="edit-modal">
    <div class="edit-modal-content">
      <header>
        <h2>Editar usuário</h2>
        <span class="close-edit">&times;</span>
      </header>
      <form action="/gerente/editar-usuario" method="post">
        <div>
          <input type="hidden" name="id" id="edit-id" value="">

          <label for="funcao">Função</label>
          <select name="funcao" id="funcao" required>
            <option value="PROFESSOR">Professor</option>
            <option value="TECNICO">Técnico</option>
            <option value="GERENTE">Gerente</option>
          </select>
        </div>
        <div>
          <label for="name">Nome</label>
          <input type="text" name="nome" id="nome" required>
        </div>
        <div>
          <label for="email">Email</label>
          <input type="text" name="email" id="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
        </div>
        <div>
          <label for="tel">Telefone</label>
          <input type="tel" name="tel" id="tel">
        </div>
        <button type="submit" class="editCRUD">Confirmar</button>
      </form>
    </div>
  </div>

</body>
<script>

  // Função para abrir o modal de exclusão
  function openDeleteModal(id, nome) {
    var deleteNameInput = document.getElementById('delete-name');
    var deleteInputID = document.getElementById('delete-id')
    var deleteButton = document.querySelector('#delete-user-modal .deleteCRUD');

    // Define o valor do input de nome no modal
    deleteNameInput.value = nome;
    deleteInputID.value = id;

    // Adiciona o ID do usuário como um atributo de dados ao botão de exclusão no modal
    deleteButton.setAttribute('data-id', id);

    // Abre o modal de exclusão
    document.getElementById('delete-user-modal').style.display = 'block';
  }

  // Função para fechar o modal de exclusão
  function closeDeleteModal() {
    document.getElementById('delete-user-modal').style.display = 'none';
  }

  // Evento de clique no botão de exclusão em cada linha da tabela
  var deleteButtons = document.querySelectorAll('.deleteCRUD');
  deleteButtons.forEach(function(button) {
    button.addEventListener('click', function() {
      var userId = this.getAttribute('data-id');
      var userName = this.getAttribute('data-nome');
      openDeleteModal(userId, userName);
    });
  });

  // Evento de clique no botão de fechar o modal de exclusão
  var closeDeleteButton = document.querySelector('.close-delete');
  closeDeleteButton.addEventListener('click', closeDeleteModal);

  //MODAL EDITAR
    // Função para abrir o modal de edição
    function openEditModal(id, funcao, nome, email, telefone) {
    var funcaoSelect = document.getElementById('funcao');
    var nomeInput = document.getElementById('nome');
    var emailInput = document.getElementById('email');
    var telefoneInput = document.getElementById('tel');
    var idInput = document.getElementById('edit-id');

    // Define o valor dos campos no modal
    funcaoSelect.value = funcao;
    nomeInput.value = nome;
    emailInput.value = email;
    telefoneInput.value = telefone;
    idInput.value = id;

    // Abre o modal de edição
    document.getElementById('edit-user-modal').style.display = 'block';
  }

  // Função para fechar o modal de edição
  function closeEditModal() {
    document.getElementById('edit-user-modal').style.display = 'none';
  }

  // Evento de clique no botão de edição em cada linha da tabela
  var editButtons = document.querySelectorAll('.editCRUD');
  editButtons.forEach(function(button) {
    button.addEventListener('click', function() {
      var userId = this.getAttribute('data-id');
      var funcao = this.parentNode.parentNode.querySelector('td:nth-child(2)').innerText;
      var nome = this.parentNode.parentNode.querySelector('td:nth-child(3)').innerText;
      var email = this.parentNode.parentNode.querySelector('td:nth-child(4)').innerText;
      var telefone = this.parentNode.parentNode.querySelector('td:nth-child(5)').innerText;
      openEditModal(userId, funcao, nome, email, telefone);
    });
  });

  // Evento de clique no botão de fechar o modal de edição
  var closeEditButton = document.querySelector('.close-edit');
  closeEditButton.addEventListener('click', closeEditModal);


// -------------- MODAL USER INFO --------------
// Obter elementos DOM
const infoModal = document.getElementById('user-modal')
const btnInfoModal = document.getElementById('btn-info-modal')
const closeInfoModalBtn = document.getElementsByClassName('close-info')[0]
const mySection = document.getElementsByTagName('section')[0]
      
// Abrir o modal quando o botão for clicado
btnInfoModal.addEventListener('click', function() {
  infoModal.style.display = 'block'
})
      
// Fechar o modal quando o botão de fechar for clicado
closeInfoModalBtn.addEventListener('click', function() {
  infoModal.style.display = 'none'
})
      
// Fechar o modal quando o usuário clicar fora da área do modal
window.addEventListener('click', function(event) {
  if (event.target === infoModal) {
    infoModal.style.display = 'none'
  }
})

// Fechar o modal quando o botão de fechar for clicado
closeEditModalBtn.addEventListener('click', function () {
  editModal.style.display = 'none';
  mySection.classList.remove('efeito-blur')
  editOpen = false
});

</script>

</html>